body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{padding: 0;margin: 0;border: 0;}
ul li{list-style: none;}
button{
  background: none;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(3, 3, 3, 0.096);
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.title{
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}

.table{
  width: 100%;
  margin-left: 20px;
  box-shadow: 0 5px 10px rgba(141, 126, 126, 0.582);
  border-collapse: collapse;
  th,td{
    text-align: center;
    padding: 10px;
  }
  th{
    background: rgba(141, 126, 126, 0.582);
  }
  th:nth-child(odd){
    background: rgba(141, 126, 126, 0.774);
  }
  tr:nth-child(even){
    background: rgba(189, 187, 187, 0.37);
  }
  tr{
    transition: all 0.2s;
  }
  tbody{
      tr:hover{
      background: #ccc;
    }
  }
  td:not(:last-child){
    border-right:1px solid #ccc;
  }
}

.block{
  display: flex;
  flex-direction: column;
  &__sort{
    display: flex;
    margin: 20px;
    .block{
      &__name{
        border: 2px solid darkgray;
        background: rgba(141, 126, 126, 0.582);
      }
      &__quantity{
        border: 2px solid darkgray;
        background: rgba(141, 126, 126, 0.582);
        margin:0 0 0 10px ;
      }
      &__distance{
        border: 2px solid darkgray;
        background: rgba(141, 126, 126, 0.582);
        margin:0 0 0 10px  ;
      }
    }
    
  }
  &__filter{
    display: flex;
    margin: 20px;
    .block{
      &__quantity{
        border: 2px solid darkgray;
        background: rgba(141, 126, 126, 0.582);
        margin:0 10px;
      }
      &__distance{
        border: 2px solid darkgray;
        background: rgba(141, 126, 126, 0.582);
        margin:0 10px 0 0;
      }
      &__getAllBtn{
        
        background: rgba(141, 126, 126, 0.582);
        padding: 10px;
        
      }
      &__name{
        border: 2px solid darkgray;
        background: rgba(141, 126, 126, 0.582);
      }
  }
  } 
}

.show__change{
  display: inline-block;
  padding: 10px;
  background: rgba(141, 126, 126, 0.582);
  min-width: 120px;
  margin: 20px;
}

.pagenation{
  display: flex;
  margin: 20px;
  li{
    display: flex;
    background: rgba(141, 126, 126, 0.582);
    width: 30px;
    height: 30px;
    margin: 10px ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  li:first-child{
    margin-left: 0px;
  }
}


.btn{
  margin: 20px;
  &__prev{
    margin-right: 20px;
    background: rgba(141, 126, 126, 0.582);
  }

  &__next{
    background: rgba(141, 126, 126, 0.582);
  }
}
